<section id="work-experience" class="work-section work-experience-section">
<div class="work-wrap">
    <div class="work-projects-grid">

      <!-- Example tile 1 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/llm.png" alt="Project 1 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">LLMs</h3>
            <ul class="work-tile-desc">
                <li>Deployed and used open source LLMs for cost optimization</li>
                <li>Finetuned Llama models for improving performance on custom datasets</li>
                <li>Used LoRA, QLoRA for finetuning with limited hardware</li>
                <li>Automated various tasks with closed LLMs like ChatGPT, Claude and Gemini</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>Transformers • vllm • Ollama</small>
            <!-- <button class="work-btn">View</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 2 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/forecasting.png" alt="Project 2 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Forecasting</h3>
            <ul class="work-tile-desc">
                <li>Forecasted traffic volume at toll plazas with limited data</li>
                <li>Collected supportive variables like past, and future covariates</li>
                <li>Trained models like TiDE, SOFTS, NHiTS, etc</li>
                <li>Built automated drift detection, finetuning, and inference pipelines</li>
                <li>Brought in explainability by using gradients of inputs</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>TiDE • MLFlow • Jenkins • OCI</small>
            <!-- <button class="work-btn">View</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 3 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/rag.png"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">RAG / AI Agents</h3>
            <ul class="work-tile-desc">
                <li>Prepared retrieval systems with high recall for various applications</li>
                <li>Worked with vector search, bm25, MMR and RRF reranking</li>
                <li>Engineered prompts manually and by using prompt evolution</li>
                <li>Built agents for targeted tasks for more autonomy and automated error correction</li>
                <li>Brought in transparency by tracking all agent traces</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>RAG • AgenticAI • VectorDB • LangChain</small>
            <!-- <button class="work-btn">View</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 4 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/cv.jpeg" alt="Project 4 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Computer Vision</h3>
            <ul class="work-tile-desc">
                <li>Used DeepSORT object tracking and counting for super market analytics system</li>
                <li>Improved image based table structure recognition for a PDF to text extraction tool</li>
                <li>Finetuned TFLOP (generative TSR model) for very long tables</li>
                <li>Digit recognition on MNIST from scratch using just numpy - Course project at IIT Kanpur</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>DeepSORT • TFLOP • Vision Transformers</small>
            <!-- <button class="work-btn">View</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 5 -->
      <!-- <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/digit_recognition.png" alt="Project 5 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Digit Recognition</h3>
            <ul class="work-tile-desc">
                <li>Implemented LeNet 5 architecture with back-propagation using Numpy</li>
                <li>Prepared pipeline to get gradients of outputs wrto inputs for explainability (GradCAM)</li>
                <li>Deployed it as FastAPI end-point and prepard a demo for it</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>CNN • Numpy • Gradient Descent</small>
            <button class="work-btn">View Demo</button>
          </div>
        </div>
      </article> -->

      <!-- Example tile 6 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/rl.png" alt="Project 6 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Reinforcement Learning (RL)</h3>
            <ul class="work-tile-desc">
                <li>Implemented RL algos like DQN, DDPG, PPO for solving computer games like minesweeper</li>
                <li>Prepared an interactive demonstration of how Q-learning works</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>RL • DQN • DDPG • PPO</small>
            <!-- <button class="work-btn">View Demo</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 7 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="https://cdn.artec3d.com/content-hub-images/how-does-a-3d-printer-work-01.jpg" alt="Project 6 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">3D printing</h3>
            <ul class="work-tile-desc">
                <li>Made a 3D printer using some spare parts, and widely available parts in hardware shops</li>
                <li>Novelty - Made an adapter board for interfacing a cheap NodeMCU ESP32 with RAMPS1.4 board</li>
                <li>This will reduce the price of controller by almost half compared to Arduino Mega boards</li>
                <li>Its a 3-axis bed slinger model with auto bed levelling, and heated bead</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>Additive Manufacturing • Marlin</small>
            <!-- <button class="work-btn">View More</button> -->
          </div>
        </div>
      </article>

      <!-- Example tile 8 -->
      <!-- <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="https://robbreport.com/wp-content/uploads/2021/01/moley01.jpg?w=1000" alt="Project 6 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Cooking Robot - In progress</h3>
            <ul class="work-tile-desc">
                <li>Goal is to program/train a robot arm for basic cooking activities</li>
                <li>Sensors - Cameras at multiple angles, and gyroscopes on arms</li>
                <li>Actuators - Servos for controling robot arms</li>
                <li>Its still under development. Current progress can be viewed here.</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>Robotics • Computer Vision • Path Planning</small>
            <button class="work-btn">View Progress</button>
          </div>
        </div>
      </article> -->

      <!-- Example tile 9 -->
      <article class="work-project-tile">
        <div class="work-tile-image">
          <img src="/assets/visual_vibrometry.png" alt="Project 6 image"/>
        </div>
        <div class="work-tile-content">
          <div>
            <h3 class="work-tile-title">Visual Vibrometry</h3>
            <ul class="work-tile-desc">
                <li>Devised a method to measure prestress in beams using computer vision</li>
                <li>Got the work published in IEEE Transactions on Instrumentation and Measurement (Impact Factor ~ 6)</li>
                <li><a href="#contact" style="text-decoration: none; color: blue;">Contact</a> me for the full text version of the paper. I'll be excited to share or talk about it.</li>
            </ul>
          </div>
          <div class="work-tile-meta">
            <small>Computer Vision • NDE</small>
            <a href="https://doi.org/10.1109/TIM.2024.3436119" target="_blank">
              <button class="work-btn">View Paper</button>
            </a>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>