<!-- Contact Section -->
<section id="contact" class="section contact-section">
    <h2 class="contact-title">Contact Me</h2>
    
    <div class="contact-links">
    <a href="mailto:bysandeep.com@gmail.com" class="contact-item">
    <img src="/assets/gmail_icon.webp" alt="Email" />
    <span>Email</span>
    </a>
    
    
    <a href="https://www.linkedin.com/in/bysandeep" target="_blank" class="contact-item">
    <img src="/assets/linkedin_icon.png" alt="LinkedIn" />
    <span>LinkedIn</span>
    </a>
    
    
    <a href="https://github.com/sandeep1005" target="_blank" class="contact-item">
    <img src="/assets/github_icon.png" alt="GitHub" />
    <span>GitHub</span>
    </a>
    
    
    <a href="https://orcid.org/0009-0009-6583-7577" target="_blank" class="contact-item">
    <img src="/assets/orcid_icon.png" alt="ORCID" />
    <span>ORCID</span>
    </a>
    </div>
    
    
    <form id="contact-form" class="contact-form">
    <p>Send a direct message here. Would love to get in touch for any suggestions, feedback or a nerdy banter!!</p>
    
    <input type="text" id="name" placeholder="Your Name" required />
    <input type="email" id="email" placeholder="Your Email" required />
    <textarea id="message" placeholder="Your Message" required></textarea>
    
    
    <button type="submit">Send Message</button>
    <p id="form-status"></p>
    </form>
</section>