.intro-section {
    padding: 0px 0;
}

.intro-container {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    padding: 0px 0;
    align-items: center;
}

.intro-left, .intro-right {
    display: flex;
    align-items: center;
}

.intro-left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0 0 100px;
}

.vector-plot {
    height: 90vh;
}

.intro-title {
    font-size: 40px;
    font-weight: bold;
}

.intro-text {
    font-size: large;

}

.vector-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.info-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--primary);
    color: white;
    width: 5%;
    height: 5%;
    font-size: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    z-index: 10;
    margin-top: 10%;
    margin-right: 10%;
}

.info-button:hover .tooltip {
    opacity: 0.8;
    visibility: visible;
}

.tooltip {
    position: absolute;
    top: -5px;
    right: 110%;
    background: var(--primary);
    color: var(--background);
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    max-width: 40vw;
    min-width: 20vw;
}
